#posts_show{

  .card{
    background-color: white;
    box-shadow: 8px 8px 0px #aaa;
    padding: 15px;
    width:80%;
    margin: auto;
  }
  .card-title, .card-body{
    color: #616161;
  }

  .card-body{
    margin-bottom: 20px;
  }

  .links{
    text-align: center;
  }

  h2{
    color:#DB1931;
    text-align: center;
  }
  .answer-list{
    background-color: white;
    box-shadow: 8px 8px 0px #aaa;
    padding: 15px;
    width:80%;
    margin: auto;
  }
  .answer-title, .answer-body{
    color: #616161;
  }

  .answer-body{
    padding-bottom: 20px;
  }
  .answer-title{
    border-bottom: 1px solid lightgray;
  }

  form{
    textarea{
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 3px;
    }

    .btn-cta{
      display: block;
      margin: auto;
    }
  }
}