<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 Post-new-frame">
      <h1>Editer ma question</h1>

      <%= render 'form' %>
      <div class="links">
        <%= link_to 'Show', @post %> |
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>



