#devise_sessions_new, #devise_registrations_new, #devise_passwords_new {

  .form-frame{
    margin-top: 60px;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0px;

    h2{
      color: $brand-color;
      text-align: center;
      border-bottom: 1px solid lightgray;
      padding: 15px;
      font-weight: 300;
    }
    form{
      padding: 15px;
    }
    .links{
      padding: 15px;
    }
  }

}