#posts_new, #posts_edit{
  .Post-new-frame{
    margin-top: 60px;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0px;
    h1{
      color: white;
      text-align: center;
      border-bottom: 1px solid lightgray;
      padding: 15px;
      font-weight: 300;
      background-image: linear-gradient(-225deg, rgba(219, 25, 49, 0.63), rgb(191, 22, 43));
      margin-top: 0px;
      padding-top: 22px;
      border-radius: 15px 15px 0px 0px;
    }
    form{
      padding: 15px;
    }
    .links{
      padding: 15px;
    }
  }
}